# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore build output
/target/
*.class
*.jar
# Ignore IntelliJ project files
.idea/
*.iml
/compiler.xml
/encodings.xml
/IntelliLang.xml
/jarRepositories.xml
/misc.xml
/vcs.xml
